[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
name = "piwheels"
verify_ssl = true

[packages]
requests = "*"
bs4 = "*"
pytz = "*"
dominate = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.7"
